.address-table {
  width: 100%;
  border-collapse: collapse;
}

.address-th {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  width: 30%;
}

.address-td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}