<div *ngIf="supplier" class="supplier-details">
  <h3>Supplier Details:</h3>
  <table align="center" border="1">
    <tbody>
      <tr>
        <th class="address-th">ID</th>
        <td class="address-td">{{ supplier.id }}</td>
      </tr>
      <tr>
        <th class="address-th">Name</th>
        <td class="address-td">{{ supplier.name }}</td>
      </tr>
    </tbody>
  </table>

  <div style="margin-bottom: 20px;">
    <app-address-preview [address]="supplier.address"></app-address-preview>
  </div>

  <button (click)="editSupplier()" type="button" class="btn btn-primary">Edit</button>
  <button (click)="deleteSupplier()" type="button" class="btn btn-danger">Delete</button>
</div>