<form [formGroup]="locationForm" (ngSubmit)="submit()">

  <h2>Location Selector</h2>

  <!-- Country -->
  <div>
    <label>Country</label>
    <br />

    <select formControlName="countryId">

      <option [ngValue]="null">Select Country</option>

      @for (country of countries; track country.id) {
      <option [ngValue]="country.id">
        {{ country.name }}
      </option>
      }
    </select>

    @if (loadingCountries) {
    <p>Loading countries...</p>
    }

    @if (countryError) {
    <p>{{ countryError }}</p>
    }

    @if (
    locationForm.get('countryId')?.touched &&
    locationForm.get('countryId')?.invalid
    ) {
    <p>Country is required.</p>
    }
  </div>

  <br />

  <!-- Division -->
  <div>
    <label>Division</label>
    <br />

    <select formControlName="divisionId">
      <option [ngValue]="null">Select Division</option>

      @for (division of divisions; track division.id) {
      <option [ngValue]="division.id">
        {{ division.name }} - {{ division.bn_name }}
      </option>
      }
    </select>

    @if (loadingDivisions) {
    <p>Loading divisions...</p>
    }

    @if (divisionError) {
    <p>{{ divisionError }}</p>
    }

    @if (
    locationForm.get('divisionId')?.touched &&
    locationForm.get('divisionId')?.invalid
    ) {
    <p>Division is required.</p>
    }
  </div>

  <br />

  <!-- District -->
  <div>
    <label>District</label>
    <br />

    <select formControlName="districtId">
      <option [ngValue]="null">Select District</option>

      @for (district of districts; track district.id) {
      <option [ngValue]="district.id">
        {{ district.name }} - {{ district.bn_name }}
      </option>
      }
    </select>

    @if (loadingDistricts) {
    <p>Loading districts...</p>
    }

    @if (districtError) {
    <p>{{ districtError }}</p>
    }

    @if (
    locationForm.get('districtId')?.touched &&
    locationForm.get('districtId')?.invalid
    ) {
    <p>District is required.</p>
    }
  </div>

  <br />

  <!-- Upazila -->
  <div>
    <label>Upazila</label>
    <br />

    <select formControlName="upazilaId">
      <option [ngValue]="null">Select Upazila</option>

      @for (upazila of upazilas; track upazila.id) {
      <option [ngValue]="upazila.id">
        {{ upazila.name }} - {{ upazila.bn_name }}
      </option>
      }
    </select>

    @if (loadingUpazilas) {
    <p>Loading upazilas...</p>
    }

    @if (upazilaError) {
    <p>{{ upazilaError }}</p>
    }

    @if (
    locationForm.get('upazilaId')?.touched &&
    locationForm.get('upazilaId')?.invalid
    ) {
    <p>Upazila is required.</p>
    }
  </div>

  <br />

  <!-- Post Office -->
  <div>
    <label>Post Office</label>
    <br />

    <select formControlName="postCode">

      <option value="">Select Post Office</option>

      @for (item of postCodes; track item.postCode) {
      <option [value]="item.postCode">
        {{ item.postOffice }} - {{ item.postCode }}
      </option>
      }
    </select>

    @if (loadingPostCodes) {
    <p>Loading post offices...</p>
    }

    @if (postCodeError) {
    <p>{{ postCodeError }}</p>
    }

    @if (
    locationForm.get('postCode')?.touched &&
    locationForm.get('postCode')?.invalid
    ) {
    <p>Post office is required.</p>
    }
  </div>

  <br />

  <button type="submit">Submit</button>

  <hr />

  <h3>Current Form Value</h3>

  <pre>{{ locationForm.getRawValue() | json }}</pre>

</form>