<div *ngIf="supplier" class="supplier-details">
  <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 20px;">
    <h3 style="margin: 0;">Supplier Details:</h3>
    <div>
      <button (click)="editSupplier()" type="button" class="btn btn-primary" style="margin-right: 5px;">Edit</button>
      <button (click)="deleteSupplier()" type="button" class="btn btn-danger" style="margin-right: 5px;">Delete</button>
      <button (click)="goBack()" type="button" class="btn btn-secondary">Back</button>
    </div>
  </div>
  <table align="center" border="1">
    <tbody>
      <tr>
        <th class="address-th">ID</th>
        <td class="address-td">{{ supplier.id }}</td>
      </tr>
      <tr>
        <th class="address-th">Name</th>
        <td class="address-td">{{ supplier.name }}</td>
      </tr>
    </tbody>
  </table>

  <div style="margin-bottom: 20px;">
    <app-address-preview [address]="supplier.address"></app-address-preview>
  </div>
</div>