<div class="container">

  <div class="left">
    <app-location-form
      #locationSelector
      (addressSubmit)="onAddressSubmit($event)">
    </app-location-form>
  </div>

  <div class="right">
    <h2><u>Addresses:</u></h2>

    <table border="1" cellpadding="10" cellspacing="2">
      <thead>
        <tr>
          <th>Id</th>
          <th>Country</th>
          <th>Division</th>
          <th>District</th>
          <th>Upazila</th>
          <th>Post Office</th>
          <th>Post Code</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let entry of entries | async">
          <td>{{ entry.id }}</td>
          <td>{{ entry.country_name }}</td>
          <td>{{ entry.division_name }}</td>
          <td>{{ entry.district_name }}</td>
          <td>{{ entry.upazila_name }}</td>
          <td>{{ entry.post_offce_name }}</td>
          <td>{{ entry.post_code }}</td>
          <td>
            <button (click)="editEntry(entry)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>