<div class="container">

  <div class="left">
    <app-address-form></app-address-form>
  </div>

  <div class="right">
    <h2><u>Address Lists:</u></h2>

    <table border="1" cellpadding="10" cellspacing="2">
      <thead>
        <tr>
          <th>Id</th>
          <th>Country</th>
          <th>Division</th>
          <th>District</th>
          <th>Upazila</th>
          <th>Post Office</th>
          <th>Post Code</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let address of savedAddresses$ | async">
          <td>{{ address.id }}</td>
          <td>{{ address.country.name }}</td>
          <td>{{ address.division.name }}</td>
          <td>{{ address.district.name }}</td>
          <td>{{ address.upazila.name }}</td>
          <td>{{ address.postOffice.postOffice }}</td>
          <td>{{ address.postOffice.postCode }}</td>
          <td>
            <button (click)="editAddress(address)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>